@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@font-face {
  font-family: 'Digital';
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: #c2c2d6;
}

.calculator {
  position: relative;
  padding: 5px;
  width: 320px;
  border: 2px solid #47476b;
  background: black;
}

.formulaScreen {
  min-height: 20px;
  vertical-align: text-top;
  overflow-wrap: break-word;
  line-height: 20px;
  font-family: digital;
  font-size: 20px;
  text-align: right;
  color: orange;
  word-wrap: break-word;
}

.outputScreen {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
}

button {
  position: relative;
  width: 80px;
  height: 65px;
  border: 1px solid black;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  color: white;
  cursor: default;
  background: #4d4d4d;
}

button:hover {
  z-index: 3;
  border: 0.05em solid gray;
  color: black;
}

.jumbo {
  width: 160px;
}

.author {
  margin-top: 15px;
  font-family: Share Tech Mono, sans;
  text-align: center;
}

.author a {
  color: #00264d;
  line-height: 26px;
}
