@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

div {
  position: relative;
  z-index: 2;
}

#quote-box {
  position: relative;
  display: table;
  padding: 40px 50px;
  width: 450px;
  border-radius: 3px;
  background-color: #fff;
}

#quote-box .quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-size: 1.75em;
  font-weight: 500;
}

#quote-box .quote-text i {
  margin-right: 0.4em;
  font-size: 1em;
}

#quote-box .quote-author {
  padding-top: 20px;
  width: 450px;
  height: auto;
  clear: both;
  font-size: 1em;
  text-align: right;
}

#quote-box .buttons {
  display: block;
  margin: auto;
  width: 450px;
}

#quote-box .buttons .button {
  margin-top: 30px;
  padding: 8px 18px 6px 18px;
  height: 38px;
  outline: none;
  opacity: 1;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.85em;
  color: #fff;
  border: none;
  background-color: #333;
}

#quote-box .buttons .button:hover {
  opacity: 0.9;
}

#quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#tumblr-quote {
  float: left;
  margin-right: 5px;
  padding: 0px;
  padding-top: 8px;
  width: 40px;
  height: 30px;
  font-size: 1.2em;
  text-align: center;
}

#quote-box .buttons .button#new-quote {
  float: right;
}

.footer {
  display: block;
  margin: 15px auto 30px auto;
  width: 450px;
  text-align: center;
  font-size: 0.8em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
