body {
  font-size: 30px;
  text-align: center;
  color: white;
  background: #1e555c;
}

body #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container .main-title {
  margin-bottom: 20px;
  font-size: 50px;
}

body #container .length-control {
  width: 250px;
}

body #container button {
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  background: none;
}

body #container .btn-level,
body #container .length-control {
  display: inline-block;
}

body #container .btn-level .btn-level:nth-child(3),
body #container .length-control .btn-level:nth-child(3) {
  width: 40px;
}

body #container .timer {
  position: relative;
  margin: 20px auto 10px auto;
  width: 270px;
  height: 160px;
  border: 7px solid #13353a;
  border-radius: 50px;
}

body #container .timer .timer-wrapper {
  position: absolute;
  margin-left: -95px;
  margin-top: -57px;
  width: 200px;
  height: 110px;
  left: 50%;
  top: 50%;
}

body #container .timer #time-left {
  font-family: digital;
  font-size: 80px;
}

body #container .timer .timer-control button:active {
  color: #13353a;
}

.author {
  margin-top: 15px;
  font-family: Share Tech Mono, sans;
  font-size: 14px;
  text-align: center;
  color: #a50d0d;
}

.author a {
  line-height: 26px;
  color: #00264d;
}

@media screen and (max-width: 500px) {
  #container {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
