body { font-size: 30px; text-align: center; color: white; background: #1e555c;
    #container { display: flex; height: 100vh; justify-content: center; align-items: center;
        .main-title { margin-bottom: 20px; font-size: 50px; }
        .length-control { width: 250px; }
        button { outline: none; border: none; color: white; cursor: pointer; background: none; }
        .btn-level, 
        .length-control { display: inline-block;
            .btn-level:nth-child(3) { width: 40px; }
        }
        .timer { position: relative; margin: 20px auto 10px auto; width: 270px; height: 160px; border: 7px solid #13353a; border-radius: 50px; 
            .timer-wrapper { position: absolute; margin-left: -95px; margin-top: -57px; width: 200px; height: 110px; left: 50%; top: 50%; }
            #time-left { font-family: digital; font-size: 80px; }
            .timer-control button:active { color: #13353a; }
        }
    }
}
.author { margin-top: 15px; font-family: Share Tech Mono, sans; font-size: 14px; text-align: center; color: #a50d0d;
    a { line-height: 26px; color: #00264d; }
}

@media screen and (max-width: 500px) {
    #container {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
    }
}