@import url("https://fonts.googleapis.com/css?family=Russo+One");
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Russo One;
  background-color: #8d8d8d;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-container {
  position: relative;
  width: 660px;
  border: 5px solid orange;
  text-align: center;
  background-color: #b3b3b3;
}

.inner-container .pad-bank {
  display: inline-block;
  margin: 20px;
  width: 332px;
  height: 272px;
}

.inner-container .pad-bank .drum-pad {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  padding-top: 35px;
  width: 100px;
  height: 80px;
  cursor: pointer;
  border-radius: 5px;
}

.inner-container .logo {
  position: absolute;
  top: 5px;
  right: 10px;
}

.inner-container .logo .inner-logo {
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.inner-container .controls-container {
  display: inline-block;
  margin: 60px 20px 0 10px;
  width: 240px;
  height: 272px;
  vertical-align: top;
}

.inner-container .controls-container .control {
  margin: auto;
  width: 100px;
}

.inner-container .controls-container .control p {
  margin-bottom: 0;
}

.inner-container .controls-container #display {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px auto;
  padding: 15px;
  width: 200px;
  background-color: gray;
}

.inner-container .controls-container .volume-slider {
  padding: 10px 0 15px;
}

.inner-container .controls-container .volume-slider input {
  width: 200px;
  background: black;
}

.outer-select, .inner-container .controls-container .control .select {
  margin: auto;
  padding: 1px;
  width: 50px;
  height: 20px;
  border: 1px solid black;
  background-color: black;
}

.inner-select, .inner-container .controls-container .control .select .inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 23px;
  height: 19px;
  cursor: pointer;
  border: 1px solid black;
  background: blue;
}

@media screen and (max-width: 650px) {
  .inner-container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
